.hero {
	background-image: var(--gradient);
	background-size: 400%;
	animation: bg-animation 5s infinite alternate;
	color: black;
	font-size: 100px;
	font-weight: bold;
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border-bottom: 2px solid black;
	h1 {
		font-weight: bold;
		color: white;
	}
}

@keyframes bg-animation {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

section {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro {
	border: 2px solid black;
	display: flex;
	width: 1000px;
	height: 300px;
	box-shadow: 5px 5px black;
	justify-content: space-between;
	&-text {
		padding: 2rem;
		border-right: 2px solid black;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 700px;
		h1 {
			font-weight: bold;
			color: rgb(102, 103, 171);
		}
	}
	&-left {
		width: 300px;
		height: 300px;
		padding: 2rem;
	}
	&-img {
		height: 100%;
		width: 100%;
		border-radius: 50%;
		object-fit: cover;
		overflow: hidden;
		border: 2px solid black;
		position: relative;
		img {
			width: 100%;
			height: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover {
			box-shadow: 5px 5px black;
			transition: all 0.3s ease-out;
		}
	}
}

.home-products {
	display: flex;
	flex-direction: column;
	margin-bottom: 4rem;
	width: 100%;
	overflow: scroll;
	h3 {
		font-weight: bold;
		color: rgb(102, 103, 171);
	}
}

.home-items {
	display: flex;
	justify-content: center;
	align-items: center;
}

.explore-btn {
	padding: 1rem 2rem 0.5rem;
	border: 2px solid black;
	text-decoration: none;
	font-size: 30px;
	color: white;
	background-color: black;
	&:hover {
		color: white;
		background-color: rgb(102, 103, 171);
		box-shadow: 5px 5px black;
		transition: all 0.3s ease-out;
	}
}
