.hero {
	// background-image: url("../../assets/images/background4.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
	font-size: 100px;
	font-weight: bold;
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	h1 {
		font-weight: bold;
	}
}

section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 2px solid black;
}

.intro {
	flex-basis: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	h1 {
		font-weight: bold;
	}
	&-img {
		height: 300px;
		width: 300px;
		border-radius: 50%;
		object-fit: cover;
		overflow: hidden;
		border: 2px solid black;
		img {
			width: 100%;
			height: auto;
		}
		&:hover {
			box-shadow: 5px 5px black;
			transition: all 0.3s ease-out;
		}
	}
}

.home-products {
	display: flex;
	flex-direction: column;
	margin-bottom: 4rem;
	width: 100%;
	overflow: scroll;
	h3 {
		font-weight: bold;
	}
}

.home-items {
	display: flex;
	justify-content: center;
	align-items: center;
}

.explore-btn {
	padding: 1rem 2rem 0.5rem;
	border: 2px solid black;
	text-decoration: none;
	font-size: 30px;
	color: white;
	background-color: black;
	&:hover {
		color: white;
		background-color: rgb(102, 103, 171);
		box-shadow: 5px 5px black;
		transition: all 0.3s ease-out;
	}
}
