$text-color: rgb(63, 122, 77);
.btn {
	padding: 0.5rem 1rem 0.3rem;
	font-size: 18px;
	color: black;
	background: white;
	cursor: pointer;
	border: 2px solid black;
	border-radius: 0;
}

.btn:hover {
	color: white;
	background-color: $text-color;
	box-shadow: 5px 5px black;
	transition: all 0.3s ease-out;
}
