:root {
	--gradient: linear-gradient(
		45deg,
		rgb(113, 131, 233),
		rgb(118, 100, 216),
		rgb(157, 91, 231),
		rgb(241, 111, 176)
	);
	--gradient2: linear-gradient(white, rgb(102, 103, 171) ;);
}

.wrapper {
	padding-top: 88px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url(../../assets/images/background7.jpg);
	background-size: 200%;
}

.user-info {
	border: 2px solid black;
	width: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: white;
}

.user-details {
	display: flex;
	height: 200px;
	button {
		border: 2px solid black;
		height: 35px;
		background-color: black;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.5rem 1rem 0.3rem;
		&:hover {
			color: white;
			background-color: rgb(102, 103, 171);
			box-shadow: 5px 5px black;
			transition: all 0.3s ease-out;
		}
	}

	.user-details-left {
		width: 200px;
		height: 200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		position: relative;
		border-right: 2px solid black;
		img {
			width: 150px;
			height: 150px;
			border: 2px solid black;
			border-radius: 50%;
			object-fit: cover;
			overflow: hidden;
		}
	}

	.user-details-right {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	h3 {
		font-weight: bold;
		margin-right: 1rem;
		color: rgb(102, 103, 171);
	}
}
.user-intro {
	width: 100%;
	border-top: 2px solid black;
	padding: 1rem;
	h5 {
		font-weight: bold;
	}
}

.profile-popup {
	border: 2px solid black;
	box-shadow: 5px 5px black;
	position: absolute;
	top: 400px;
	left: 50%;
	padding: 1rem;
	width: 450px;
	min-height: 500px;
	transform: translate(-50%, -45%);
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;

	button {
		width: 100%;
		height: 50px;
		margin-bottom: 1rem;
		background: black;
		border: 2px solid black;
	}
	.form-inputs {
		width: 300px;

		input {
			width: 100%;
			font-weight: thin;
		}
	}
}

.user-listing {
	width: 1200px;
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	border-top: none;
	background-color: white;
}

.user-items {
	width: 100%;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem;
	&-empty {
		height: 20vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		button {
			padding: 0.5rem 1rem 0.3rem;
			color: white;
			background-color: black;
			border: 2px solid black;
		}
		button:hover {
			background-color: rgb(102, 103, 171);
			box-shadow: 5px 5px black;
			transition: all 0.4s ease-out;
		}
	}
}
.user-items-sort {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
	ul {
		display: flex;
		list-style: none;
	}
	li {
		margin-right: 1rem;
	}
	button {
		border: none;
		background: none;
		cursor: pointer;
	}
	button:hover {
		text-decoration: underline;
	}
	a:hover {
		text-decoration: underline;
	}
}

.user-items-list {
	display: grid;
	gap: 0.5rem 0.5rem;
	grid-template-columns: repeat(5, minmax(0px, 1fr));
}

.item-popup {
	border: 2px solid black;
	box-shadow: 5px 5px black;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 1rem;
	width: 450px;
	min-height: 500px;
	transform: translate(-50%, -45%);
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.form-inputs {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
	button {
		border: 2px solid black;
		background: black;
		color: white;
		padding: 0.5rem 1rem 0.3rem;
		margin: 0.5rem;
		width: 100%;
		&:hover {
			background-color: rgb(102, 103, 171);
			box-shadow: 5px 5px black;
			transition: all 0.4s ease-out;
		}
	}
	input {
		width: 300px;
	}
	select {
		height: 30px;
	}
}
