.wrapper {
	background: url(../../assets/images/background2.jpg);
}
.user-info {
	width: 100%;
	padding: 100px 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.user-details {
	display: flex;
	button {
		border: 3px solid rgb(113, 211, 186);
		height: 35px;
		background-color: rgb(113, 211, 186);
		border-radius: 5px;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px 10px;
	}
	button:hover {
		color: white;
	}

	img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		object-fit: cover;
		overflow: hidden;
		margin: 1rem;
	}
	.user-details-left {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
		position: relative;
	}

	.user-details-right {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
}
.user-intro {
	width: 100%;
	border-bottom: 1px solid rgb(165, 165, 165);
}

.user-items {
	width: 100%;
	min-height: 50vh;
	display: flex;
	justify-content: center;
	padding-top: 1rem;
	&-empty {
		height: 20vh;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		button {
			padding: 0.5rem 1rem;
			border-radius: 5px;
			color: white;
			background-color: black;
			border: none;
		}
		button:hover {
			background-color: rgb(129, 137, 255);
			transition: all 0.4s ease-out;
		}
	}
}
.user-items-sort {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
	ul {
		display: flex;
		list-style: none;
	}
	li {
		margin-right: 1rem;
	}
}

.user-items-list {
	display: grid;
	gap: 0.5rem 0.5rem;
	grid-template-columns: repeat(6, minmax(0px, 1fr));
}

.user-items-container {
	border: 1px solid blue;
}
.user-items-empty {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.profile-popup {
	border: 3px solid black;
	position: absolute;
	top: 400px;
	left: 50%;
	padding: 1rem;
	width: 450px;
	min-height: 500px;
	transform: translate(-50%, -45%);
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	.fa-times {
		right: 0;
		background: black;
	}
	button {
		width: 100%;
		height: 50px;
		margin-bottom: 1rem;
		background: black;
		border: none;
	}
	.form-inputs {
		width: 300px;

		input {
			width: 100%;
			font-weight: thin;
		}
	}
}

.item-popup {
	border: 3px solid black;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 1rem;
	width: 450px;
	min-height: 500px;
	transform: translate(-50%, -45%);
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.form-inputs {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
	button {
		border: none;
		background: black;
		color: white;
		padding: 0.3rem 1rem;
		border-radius: 5px;
		margin: 0.5rem;
	}
	input {
		width: 300px;
	}
	select {
		height: 30px;
	}
}
