.message-container {
	width: 100%;
	padding-top: 2rem;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.messages-content {
	margin: 0 100px;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 100px;
}

.messages-filter {
	button {
		height: 40px;
		padding: 0.5rem 1rem 0.3rem;
		margin: 1rem;
		border: 2px solid black;
		color: black;
		background-color: white;
		&:hover {
			color: white;
			background-color: rgb(102, 103, 171);
			box-shadow: 5px 5px black;
			transition: all 0.3s ease-out;
		}
	}
}

.messages-list {
	width: 1000px;
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.message-card {
	width: 800px;
	display: flex;
	flex-direction: column;
	background-color: white;
	margin: 1rem;
	border: 2px solid black;
	box-shadow: 5px 5px black;
	&-row-top {
		width: 100%;
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid black;
		height: 90px;
	}
	&-avatar {
		width: 70px;
		height: 70px;
		object-fit: cover;
		overflow: hidden;
		border-radius: 50%;
		margin-right: 1rem;
		img {
			height: 100%;
			width: auto;
		}
	}
	&-item {
		width: 80px;
		height: 80px;
		object-fit: cover;
		overflow: hidden;
		img {
			height: 100%;
		}
	}
	&-sender {
		display: flex;
		height: 100%;
		width: 100%;
		&-info {
			height: 100%;
			display: flex;
			flex-direction: column;
			padding-top: 1rem;
			padding-left: 1rem;
			a {
				text-decoration: none;
				color: black;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&-left {
			height: 90px;
			width: 90px;
			border-right: 2px solid black;
			padding: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
			&-avatar {
				width: 60px;
				height: 58px;
				object-fit: cover;
				overflow: hidden;
				border-radius: 50%;
				position: relative;
				border: 2px solid black;
				padding: 1rem;
				img {
					width: 100%;
					height: auto;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
	&-btns {
		display: flex;
		align-items: center;
		padding: 1rem;
		button {
			background-color: black;
			color: white;
			height: 40px;
			padding: 0.5rem 1rem 0.3rem;
			border: 2px solid black;
			margin: 0 0.5rem;
		}
		button:hover {
			color: white;
			background-color: rgb(102, 103, 171);
			box-shadow: 5px 5px black;
			transition: all 0.3s ease-out;
		}
	}
	&-row-bottom {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		height: 230px;
		a {
			text-decoration: none;
			color: black;
			&:hover {
				text-decoration: underline;
			}
		}
		&-left {
			height: 100%;
			width: 150px;
			border-right: 2px solid black;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
		}
		&-right {
			height: 100%;
			width: 150px;
			border-left: 2px solid black;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
		}
		&-img {
			width: 100px;
			height: 100px;
			object-fit: cover;
			overflow: hidden;
			border: 2px solid black;
			position: relative;
			margin-bottom: 1rem;
			img {
				height: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:hover {
				box-shadow: 5px 5px black;
				transition: all 0.3s ease-out;
			}
		}
		&-message {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			padding: 1rem;
			text-align: left;
		}
	}
}
