$text-color: rgb(63, 122, 77);

.membership {
	padding-top: 2rem;
	display: flex;
	justify-content: space-around;
	height: 100vh;
	&-card {
		width: 100%;
		height: 60vh;
		border: 2px solid black;
		margin: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		box-shadow: 5px 5px black;
		&-header {
			width: 100%;
			padding-top: 1rem;
			text-align: center;
			border-bottom: 2px solid black;
			background-color: $text-color;
			color: white;
		}
		&-main {
			width: 100%;
			height: 120px;
			text-align: center;
			padding: 1rem;
			border-bottom: 2px solid black;
		}
		&-contents {
			width: 100%;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			button {
				width: 100%;
				background-color: black;
				color: white;
				border: 2px solid black;
				height: 40px;
				margin-bottom: 1rem;
				padding: 0.5rem 1rem 0.3rem;
				&:hover {
					color: white;
					background-color: $text-color;
					box-shadow: 5px 5px black;
					transition: all 0.3s ease-out;
				}
			}
		}
	}
}
