.content {
	padding-top: 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.item-container-left {
	width: 500px;
	height: 500px;
	border: 2px solid black;
	border-right: none;
	object-fit: cover;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	align-items: center;
	img {
		height: 100%;
	}
}

.item-container-right {
	width: 350px;
	border: 2px solid black;
	background-color: white;
}

.owner-info {
	display: flex;
	border-bottom: 2px solid black;
	height: 100px;
	&-details {
		padding: 1rem;
		border-left: 2px solid black;
	}
	&-details-link {
		font-weight: bold;
		text-decoration: none;
		color: black;
	}
	h5 {
		font-weight: bold;
	}
	h5:hover {
		text-decoration: underline;
		color: black;
	}
}

.owner-avatar {
	width: 100px;
	height: 100px;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		border: 2px solid black;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		object-fit: cover;
		overflow: hidden;
	}
}
.item-info {
	padding: 1rem;
}

.item-btn {
	height: 40px;
	width: 100%;
	border: 2px solid black;
	margin-bottom: 1rem;
	color: black;
	background-color: white;
	padding-top: 0.3rem;
	&-gone {
		background-color: rgb(146, 146, 146);
		cursor: none;
		height: 40px;
		width: 100%;
		border-radius: 10px;
		border: none;
		margin-bottom: 1rem;
		color: white;
	}
	&-swap {
		height: 40px;
		width: 100%;
		border: 2px solid black;
		margin-bottom: 1rem;
		color: black;
		background-color: white;
		padding-top: 0.3rem;
		&:hover {
			color: white;
			background-color: rgb(102, 103, 171);
			box-shadow: 5px 5px black;
			transition: all 0.3s ease-out;
		}
	}
	&:hover {
		color: white;
		background-color: rgb(102, 103, 171);
		box-shadow: 5px 5px black;
		transition: all 0.3s ease-out;
	}
}

.item-info {
	display: flex;
	flex-direction: column;
	h4 {
		font-weight: bold;
	}
	&-details {
		display: flex;
		justify-content: space-between;
	}
}
.swap-popup {
	&-btn {
		background-color: black;
		width: 100%;
		height: 40px;
		color: white;
		border: 2px solid black;
		margin-bottom: 1rem;
		padding-top: 0.3rem;
		&:hover {
			color: white;
			background-color: rgb(102, 103, 171);
			box-shadow: 5px 5px black;
			transition: all 0.3s ease-out;
		}
	}
	.form-input textarea {
		width: 100%;
	}
}

.user-item {
	display: grid;
	gap: 0.5rem 0.5rem;
	grid-template-columns: repeat(3, minmax(0px, 1fr));
	&-card {
		width: 100px;
		height: 100px;
		object-fit: cover;
		overflow: hidden;
		border: 2px solid black;
		position: relative;
		img {
			height: 100%;
			width: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover {
			box-shadow: 3px 3px black;
			transition: all 0.3s ease-out;
		}
		&:focus {
			box-shadow: 3px 3px black;
			transition: all 0.3s ease-out;
		}
	}
}

.extra-items {
	width: 100%;
	padding: 20px 100px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	h4 {
		font-weight: bold;
	}
	&-list {
		display: grid;
		gap: 0.5rem 0.5rem;
		grid-template-columns: repeat(6, minmax(0px, 1fr));
	}
}
