.item-container {
	padding-top: 120px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.item-container-left {
}

.item-container-right {
	margin-left: 2rem;
	padding: 1rem;
	width: 400px;
}

.owner-info {
	display: flex;
	margin-bottom: 1rem;
	h5 {
		font-weight: bold;
		font-size: 20px;
	}
}

.owner-avatar {
	width: 70px;
	height: 70px;
	margin-right: 1rem;
	img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		object-fit: cover;
		overflow: hidden;
	}
}

.swap-btn-gone {
	height: 40px;
	width: 100%;
	border-radius: 10px;
	border: none;
	background-color: rgb(146, 146, 146);
	cursor: none;
	margin-bottom: 1rem;
}

.swap-btn button {
	width: 100%;
	background: red;
}
