// .wrapper {
// 	width: 100%;
// 	display: flex;
// 	justify-content: center;
// 	flex-direction: column;
// }
.explore-container {
	padding-top: 90px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	p {
		font-weight: thin;
	}
	h3 {
		font-weight: bold;
	}
}

.explore-items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
