.item-card {
	width: 200px;
	height: 300px;
	gap: 1rem 1rem;
	text-align: left;
	text-decoration: none;
	color: black;
	text-align: center;
	margin: 0.5rem;
	position: relative;
	.item-img {
		width: 194px;
		height: 194px;
		margin-bottom: 1rem;
		object-fit: cover;
		overflow: hidden;
		border: 2px solid black;
		img {
			height: 100%;
			width: auto;
		}
	}
	.item-gone {
		width: 194px;
		height: 194px;
		filter: brightness(0.75);
		margin-bottom: 0.5rem;
		object-fit: cover;
		overflow: hidden;
		border: 2px solid black;
		text-align: center;
		img {
			background-color: black;
			height: 100%;
			width: auto;
		}
		&:hover {
			box-shadow: 5px 5px black;
			text-decoration: none;
			transition: all 0.4s ease-out;
		}
	}
	.item-info {
		text-align: left;
		font-size: 16px;
		font-weight: bold;
	}
}
.item-card:hover {
	color: black;
	text-decoration: underline;
}

.item-img:hover {
	box-shadow: 5px 5px black;
	text-decoration: none;
	transition: all 0.4s ease-out;
}
.gone-text-show {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	color: white;
}

.gone-text {
	display: none;
}
