.item-card {
	width: 240px;
	height: 350px;
	gap: 1rem 1rem;
	text-align: left;
	padding: 1rem;
	border-radius: 20px;
	text-decoration: none;
	color: black;
	img {
		width: 100%;
		margin-bottom: 1rem;
		border-radius: 10px;
	}
}

.item-card:hover {
	border: 3px solid black;
	text-decoration: none;
	color: rgb(118, 100, 216);
}
