:root {
	--primary: white;
}

.btn {
	padding: 8px 20px;
	outline: none;
	font-size: 18px;
	color: white;
	background: black;
	cursor: pointer;
}

.btn:hover {
	padding: 6px 18px;
	transition: all 0.2s ease-out;
	background-color: white;
	color: black;
	border: 3px solid black;
}
