.navbar {
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: fixed;
	background-color: white;
	width: 100%;
	z-index: 2;
	border-bottom: 2px solid black;
}

.navbar-logo {
	color: transparent;
	justify-self: start;
	margin-left: 20px;
	cursor: pointer;
	text-decoration: none;
	font-size: 2rem;
	position: relative;
	font-weight: bold;
	background-image: var(--gradient);
	background-clip: text;
	background-size: 400%;
	animation: bg-animation 5s infinite alternate;
	padding: 0.5rem 1rem 0.2rem;
	border: 2px solid transparent;
}

.navbar-logo:hover {
	transition: all 0.3s ease-out;
	border: 2px solid black;
	box-shadow: 5px 5px black;
	transition: all 0.3s ease-out;

	color: rgb(102, 103, 171);
}

.fa-firstdraft {
	margin-left: 0.5rem;
	font-size: 1.6rem;
}

.nav-menu {
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-gap: 10px;
	list-style: none;
	text-align: center;
	width: 70vw;
	justify-content: end;
	margin-right: 2rem;
	align-items: center;
}

.nav-item {
	display: flex;
	align-items: center;
	height: 80px;
}

.nav-links {
	color: black;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

.nav-links:hover {
	transition: all 0.4s ease-out;
	text-decoration: underline;
	color: black;
}

.fa-bars {
	color: black;
}

.nav-links-mobile {
	display: none;
}

.menu-icon {
	display: none;
}

@media screen and (max-width: 960px) {
	.NavbarItems {
		position: relative;
	}

	.nav-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 90vh;
		position: absolute;
		top: 80px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
	}

	.nav-menu.active {
		background: #242222;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1;
	}

	.nav-links {
		text-align: center;
		padding: 2rem;
		width: 100%;
		display: table;
	}

	.nav-links:hover {
		background-color: #1888ff;
		border-radius: 0;
	}

	.navbar-logo {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(25%, 50%);
	}

	.menu-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 1.8rem;
		cursor: pointer;
	}

	.fa-times {
		color: #fff;
		font-size: 2rem;
	}

	.nav-links-mobile {
		display: block;
		text-align: center;
		padding: 1.5rem;
		margin: 2rem auto;
		border-radius: 4px;
		width: 80%;
		background: #1888ff;
		text-decoration: none;
		color: #fff;
		font-size: 1.5rem;
	}

	.nav-links-mobile:hover {
		background: #fff;
		color: #1888ff;
		transition: 250ms;
	}

	button {
		display: none;
	}
}

.avatar {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		overflow: hidden;
	}
}
.avatar:hover {
	box-shadow: 3px 3px black;
	transition: all 0.3s ease-out;
}

.dropdown {
	position: absolute;
	top: 88px;
	width: 180px;
	transform: translate(-40%);
	background-color: white;
	border: 2px solid black;
	overflow: hidden;
	color: black;
	display: flex;
	flex-direction: column;
	text-align: left;
	.dropdown-link {
		padding-top: 2rem;
		text-decoration: none;
		color: black;
		line-height: 0.7rem;
		&-bottom {
			padding-top: 1rem;
			border-top: 2px solid black;
			height: 60px;
		}
	}
	.dropdown-link:hover {
		color: black;
		text-decoration: underline;
	}
}

.logout-btn {
	border: none;
	background: none;
	text-align: left;
	padding-left: 1rem;
	&:hover {
		text-decoration: underline;
	}
}

.searchbox {
	width: 200px;
	border: 2px solid black;
	border-radius: 20px;
	padding: 0 5px;
	display: flex;
	input {
		font-weight: thin;
	}
	&:after {
		border: 2px solid black;
	}
	&:focus {
		border: 2px solid black;
	}
}
